{% extends 'base.html.twig' %}

{% block title %}
    {{ 'register.succeeded.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ 'register.succeeded.title'|trans }}</h1>
    <p>{{ 'register.succeeded.description'|trans }}</p>
{% endblock %}
