.j-background-default {
  background-color: var(--background-default);
}

.j-background-alt-yellow {
  background-color: var(--background-alt-yellow);
}

.j-background-flat-yellow {
  background-color: var(--background-flat-yellow);
}

.j-background-flat-red {
  background-color: var(--background-flat-red);
}

.j-background-flat-red * {
  color: var(--text-on-background-flat-red);
}

.j-background-alt-blue {
  background-color: var(--background-alt-blue);
}
