.j-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.j-center-decorative {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.j-float--right {
  float: right;
}
