{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'profile.detail.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with {
        items: [
            {
                title: 'nav.profile'|trans,
            }
        ]
    } only %}

    <div class="j-container j-box">
        <h1>{{ 'profile.edit.title'|trans }}</h1>
    </div>
{% endblock main %}
