.j-card {
  position: relative;
  box-shadow: var(--shadow-default);
  --clickable-card-hover-shadow: var(--shadow-lg);
  color: var(--blue-estate);
  line-height: var(--line-height-card);
  border-radius: calc(2 * var(--w));
  overflow: hidden;
}

.j-card p {
  font-size: var(--font-size-card);
}

/* Push last section of card down. */
.j-card > :last-child {
  margin-block-start: auto;
}
