.j-flashes {
  position: fixed;
  width: 100%;
  bottom: calc(2 * var(--w));
  left: 0;
  right: 0;
  z-index: 999;
}

@media screen and (min-width: 900px) {
  .j-flashes {
    bottom: unset;
    top: calc(2 * var(--w));
  }
}

j-flash {
  display: block;
  box-shadow: var(--shadow-default);
}
