input:not([type="checkbox"]) {
  display: block;
  width: 100%;
  max-width: 40ch;
  color: var(--form-control-color, inherit);
  border: 1px solid var(--form-control-border-color);
  border-radius: var(--border-sm);
  padding: var(--v) var(--w);
}

/* Credit: https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"] {
  --form-control-color: var(--early-spring-night);
  /* Remove default styles */
  appearance: none;
  margin: 0;
  /* Add our styles */
  background-color: var(--white-smoke);
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border: 1px solid var(--form-control-border-color);
  border-radius: var(--border-xs);
  /* Center checked icon */
  display: inline-grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: calc(var(--checkbox-size) * 0.6);
  height: calc(var(--checkbox-size) * 0.6);
  /* Hide if unchecked */
  transform: scale(0);
  /* Draw the checkmark shape */
  /* Tool: https://bennettfeely.com/clippy/ */
  background-color: var(--form-control-color);
  clip-path: polygon(10% 46%, 38% 69%, 88% 5%, 99% 14%, 40% 90%, 1% 59%);
}
input[type="checkbox"]:checked::before {
  /* Reveal */
  transform: scale(1);
}
input[type="checkbox"]:hover {
  border-color: var(--form-control-color);
}
input[type="checkbox"]:disabled {
  --form-control-border-color: var(--form-control-disabled);
  --form-control-color: var(--form-control-disabled);
  cursor: not-allowed;
}

input.j-has-error {
  --form-control-border-color: var(--border-error);
}

.j-input-group,
.j-checkbox-group {
  margin-bottom: calc(4 * var(--v));
}

.j-input-group > * + * {
  margin-top: var(--w);
}

.j-input-group > label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-label);
  line-height: var(--line-height-label);
}

.j-input-group > label > .j-help-text {
  margin-top: var(--v);
}

.j-checkbox-group {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--w);
}

.j-help-text {
  font-weight: var(--font-weight-md);
  font-size: var(--font-size-help);
  line-height: var(--line-height-help);
}

.j-error-message {
  color: var(--text-error);
}
