.j-header {
  background-color: var(--background-default);
  z-index: 1;
  box-shadow: var(--shadow-default);
  padding: var(--w);
}

.j-header-brand-container {
  position: relative;
  display: grid;
  place-items: center;
}

.j-header-brand img {
  height: calc(5 * var(--w));
}

.j-header-brand-container > .j-btn--icon {
  --btn-icon-size: 2rem;
}

.j-header-brand-container > .j-header-brand-left {
  position: absolute;
  left: 0;
}

.j-header-brand-container > .j-header-brand-right {
  position: absolute;
  right: 0;
}

.j-header-brand[data-desktop-only] {
  display: none;
}

.j-header-desktop-menu {
  display: none;
}

.j-header-mobile-menu {
  background-color: var(--background-default);
}

@media screen and (min-width: 900px) {
  .j-header {
    display: flex;
    align-items: center;
    gap: calc(2 * var(--w));
    padding: calc(2 * var(--w));
  }

  .j-header hr {
    display: none;
  }

  .j-header-brand img {
    height: calc(7 * var(--w));
  }

  .j-header-brand[data-desktop-only] {
    display: inline-block;
  }

  .j-header-brand[data-mobile-only] {
    display: none;
  }

  .j-header-brand-menu-btn {
    display: none;
  }

  .j-header-desktop-menu {
    flex-grow: 1;
    display: block;
  }

  .j-header-mobile-menu {
    display: none;
  }
}
