.j-icon {
  width: var(--icon-size);
  height: auto;
}

.j-icon--sm {
  width: var(--icon-size-sm);
}

.j-icon--left,
.j-icon--right {
  display: flex;
  align-items: center;
}

.j-icon--left > .j-icon {
  margin-right: calc(2 * var(--v));
}

.j-icon--right > .j-icon {
  margin-left: calc(2 * var(--v));
}
