body {
  background-color: var(--background-default);
  color: var(--text-default);
  font-family: var(--font-default);
  font-size: var(--font-size-default);
  display: flex;
  flex-flow: column;
  height: 100vh;
}

h1,
h2,
h3,
.j-h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: var(--font-weight-bold);
  color: var(--text-action-blue);
}

:where(h1, h2, h3, .j-h3, h4, h5, h6):not(.j-mb-0) {
  /*
  NOTE: 'em' is relative to the font size (as opposed to 'rem'),
  so the effective margin will grow with each header level.
  */
  margin-bottom: 1em;
}

h1,
.j-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2,
.j-h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3,
.j-h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

p,
.j-as-p {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

:where(p, .j-as-p):not(:last-child) {
  margin-block-end: calc(2 * var(--w));
}

small {
  font-size: var(--font-size-sm);
}

:where(p, .j-as-p) a {
  color: var(--early-spring-night);
}

hr {
  border: none;
  border-top: 1px solid var(--border-alt-blue);
}

dialog {
  border: none;
  padding: 0;
}
