<div class="j-box j-background-flat-yellow" style="--box-padding: calc(3 * var(--w)) 0">
    <div class="j-container j-stack">
        <h1>{{ title }}</h1>
        {% if description is defined %}
            <p>{{ description }}</p>
        {% endif %}
    </div>
</div>
