{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'cgu.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <div class="j-box j-background-flat-yellow" style="--box-padding: min(calc(6 * var(--w)), calc(2 * var(--w) + 3vw)) ">
        <div class="j-container">
            <div class="j-stack" style="--stack-gap: calc(3 * var(--w))">
                <h1 class="j-max-w" style="--max-w: 25ch">
                    {{ 'cgu.title'|trans }}
                </h1>
            </div>
        </div>
    </div>
    <div class="j-container j-box j-stack" style="--stack-gap: calc(4 * var(--w))">
        <div>
            Les présentes conditions générales d’utilisation sont conclues entre la société <b>JEUNOT</b>, domiciliée au 40 rue Turbigo 75003 Paris (France) et immatriculée au RCS de Paris sous le numéro B 912 505 682 (ci-après <b>“JEUNOT”</b>), hébergeur et fournisseur de la plateforme <b>JEUNOT (« Plateforme »)</b> mettant en relation des personnes physiques ayant la qualité de « <b>MEMBRE</b> » souhaitant faire de nouvelles rencontres de la même catégorie d’âge en participant à des évènements autour de chez elle. (ci-après <b>« Utilisateur »</b>).
        </div>
        <div>L’utilisation de la Plateforme est réservée aux particuliers, personnes physiques âgées d’au moins cinquante – cinq (55) années et plus (ci-après « <b>MEMBRE</b> ») et n’est pas destinée aux professionnels.</div>
        <div>La Plateforme est disponible sur le site internet https://www.jeunot.club (<b>« Site »</b>), étant précisé que l’URL pourra être modifiée à la simple discrétion de <b>JEUNOT</b>.</div>
        <div>
            <b>La Plateforme <b>JEUNOT</b> est destinée à un usage privé elle permet de :</b>
            <ul>
                <li><b>d’intégrer une communauté de Senior (« Communauté ») permettant à l’Utilisateur d’accéder à des services pensés pour les Seniors et, ainsi, devenir <b>MEMBRE</b> de la Communauté <b>JEUNOT</b> (« <b>MEMBRE</b> »).</b></li>
                <li><b>participer à des évènements gratuits ou payants organisés par JEUNOT ou ses partenaires dans le but de faire de nouvelles connaissances autour de chez soi.</b></li>
            </ul>
        </div>

        <div>Les présentes Conditions générales en vigueur sont celles visibles sur le Site lors de chaque utilisation de la Plateforme par <b>l’UTILISATEUR</b>, sauf modification imposée par toute disposition légale ou réglementaire.</div>
        <div>Avant toute inscription à la Plateforme, <b>l’UTILISATEUR</b> s’engage à prendre connaissance des présentes Conditions générales et de tout autre document contractuel conditionnant son inscription à la Plateforme. Toute création de compte sur la Plateforme par l’UTILISATEUR vaut acceptation des présentes Conditions générales et de tout autre document contractuel applicable à la relation des Parties.</div>
        <div><b>JEUNOT</b> peut modifier à tout moment les présentes Conditions générales. Toute nouvelle version des Conditions générales d’utilisation et de vente sera publiée sur le Site au sein de la rubrique dédiée.</div>
        <div>De manière générale, <b>l’UTILISATEUR</b> accepte de se soumettre aux présentes Conditions Générales d’utilisation (ci-après ”Conditions générales”) sans restriction ni réserve. Cette acceptation se matérialise par un clic de validation lors de son inscription à la Plateforme.</div>

        <h2>ARTICLE 1. OBJET</h2>
        Les présentes Conditions générales d’utilisation ont pour objet de définir les conditions dans lesquelles :
        <ul>
            <li>JEUNOT met à disposition les Services de la Plateforme auprès du MEMBRE</li>
            <li>Le <b>MEMBRE</b> accède et utilise ces Services.</li>
        </ul>

        <h2>ARTICLE 2. DESCRIPTION DU SERVICE</h2>

        <div>2.1. La Plateforme <b>JEUNOT</b> comprend les Services suivants:</div>
        <b>Services de la Plateforme</b><br/>
        Toute inscription à la Plateforme permet au <b>MEMBRE</b> d’entrer dans la Communauté <b>JEUNOT</b> et de bénéficier d’avantages comme suit :
        <ul>
            <li>Bénéficier de services négociés par <b>JEUNOT</b> à des prix plus avantageux et destinés aux Seniors.</li>
            <li>Participer à des événements et activités organisés par des partenaires et dédiés aux Seniors.</li>
        </ul>

        <div>2.2. Afin de bénéficier des Services de la Plateforme, l’Utilisateur est invité à créer un compte en ligne sur le Site et à renseigner ses données personnelles. La création d’un compte utilisateur est gratuite.</div>
        <div>Le <b>MEMBRE</b> doit ainsi remplir avec exactitude l’ensemble des champs obligatoires nécessaires à la création de son compte sur la Plateforme <b>JEUNOT</b>.</div>

        <div>Pour accéder à la Plateforme et participer à un évènement, le <b>MEMBRE</b> doit au préalable se connecter à son espace personnel.</div>
        <div>Un seul compte par Utilisateur est autorisé et toute tentative de fraude pourra entraîner la radiation de son compte.</div>
        <div>Dans l’hypothèse où l’Utilisateur fournirait des données fausses, inexactes ou incomplètes, <b>JEUNOT</b> se réserve la possibilité de suspendre ou de procéder à la fermeture de son compte.</div>

        <h2>ARTICLE 3. GARANTIES ET RESPONSABILITÉ DU MEMBRE</h2>
        <div>3.1. Sécurité des données et usage normal de la Plateforme</div>
        <div>Les identifiants et mot de passe du <b>MEMBRE</b> sont strictement personnels et confidentiels. Le <b>MEMBRE</b> s’engage par conséquent à les garder secrets et à ne pas les divulguer sous quelque forme que ce soit. En outre, le <b>MEMBRE</b> ne peut en aucun cas céder ni concéder à un tiers ses identifiants et ce, à quelque titre que ce soit. En conséquence, tout usage des identifiants du <b>MEMBRE</b> est effectué sous son entière responsabilité.</div>
        <div>En cas de perte, vol ou d’utilisation détournée d’un ou de plusieurs des éléments composant ses identifiants, le <b>MEMBRE</b> s’engage à en informer <b>JEUNOT</b> dans les plus brefs délais. Par mesure de sécurité, <b>JEUNOT</b> pourra bloquer le compte du <b>MEMBRE</b> après réception et traitement de cette information. Le cas échéant, <b>JEUNOT</b> communiquera au <b>MEMBRE</b> de nouveaux identifiants. A défaut d’information de <b>JEUNOT</b>, et sauf preuve contraire, toute connexion ou transmission de données effectuées au moyen des identifiants du <b>MEMBRE</b> sera réputée provenir de ce dernier et sous sa responsabilité exclusive.</div>
        <div>Le <b>MEMBRE</b> s’engage à utiliser et exploiter le contenu des Services mis à sa disposition par <b>JEUNOT</b> dans le cadre strict de l’usage normal prévu par la Plateforme. Ainsi toute tentative de fraude ou de malveillance à l’égard de <b>JEUNOT</b> et/ou d’un <b>MEMBRE</b> inscrit au sein de la Plateforme sera sanctionnée par la fermeture définitive de son compte.</div>
        <div>3.2. <b>JEUNOT</b> se réserve la possibilité de suspendre temporairement ou définitivement le compte utilisateur du <b>MEMBRE</b> et ce, dès la survenance d’un évènement suivant (liste non exhaustive) :</div>
        <ul>
            <li>Non-respect par le <b>MEMBRE</b> de tout ou partie des présentes Conditions générales d’utilisation</li>
            <li>La création d’un compte utilisateur sur la Plateforme dans un objectif malveillant ou contraire aux intérêts des membres inscrits de la Plateforme de la communauté et/ou de <b>JEUNOT</b></li>
            <li>La communication par le <b>MEMBRE</b> de données fausses, erronées, inexactes ou incomplètes en particulier dans un objectif malveillant</li>
            <li>Toute tentative d’intrusion, de fraude ou de détournement des données y compris des Données personnelles d’un <b>MEMBRE</b> de la Plateforme ou encore toute infraction à la Règlementation relative à la protection des données personnelles.</li>
            <li>Tout autre motif considéré recevable et légitime par <b>JEUNOT</b>.</li>
        </ul>

        <div>3.3. Le <b>MEMBRE</b> s’engage à ne pas utiliser le Service pour :</div>
        <ul>
            <li>publier, transmettre, partager, stocker ou mettre à disposition de tout autre manière un contenu contraire à l’ordre public, préjudiciable, menaçant, illégal, diffamatoire, non autorisé, abusif, injurieux, malveillant, vulgaire, obscène, frauduleux, portant atteinte à la vie privée ou aux droits à l'image, odieux, incitant à la violence, à la haine raciale ou ethnique ou autrement répréhensible ;</li>
            <li>créer plusieurs comptes ou usurper l’identité d’un tiers ;</li>
            <li>transmettre tout élément contenant des virus informatiques ou tout code, fichier ou programme informatique conçu pour interrompre, détruire ou limiter la fonctionnalité de logiciels, d'équipement informatique ou de communications électroniques ;</li>
            <li>publier, transmettre, partager, stocker ou mettre à disposition de tout autre manière un contenu qui constitue ou encourage un acte pénalement répréhensible ou fournit des instructions sur la manière de le perpétrer, qui enfreint les droits d'un tiers ou est susceptible d'engager la responsabilité d'un tiers ou d'enfreindre la règlementation en vigueur.</li>
        </ul>

        <div>3.4. De manière générale, l’utilisation du Service est faite sous la seule et entière responsabilité du MEMBRE, qui s’engage à exécuter les présentes conditions générales de bonne foi.</div>
        <div>En cas d’utilisation anormale ou d’exploitation illicite du Service, le <b>MEMBRE</b> est seul responsable des dommages causés aux tiers et des réclamations ou actions qui pourraient en découler.</div>

        <div>Le <b>MEMBRE</b> s’engage à respecter l’ensemble des réglementations en vigueur en France.</div>
        <div>Le <b>MEMBRE</b> est responsable des relations qu’il pourra nouer avec les autres Membres. Il s’engage à agir avec discernement et respecter les règles usuelles de politesse et de courtoisie dans ses échanges avec les Membres.</div>
        <div>Le <b>MEMBRE</b> est responsable des Contenus de toute nature qu’il diffuse dans le cadre des Services.</div>
        <div>Le <b>MEMBRE</b> accepte que les Contenus diffusés sur la Plateforme soient rendus publics par défaut et sont susceptibles d’être vus par d’autres Membres.</div>

        <div>Les Membres garantissent <b>JEUNOT</b> contre toute réclamation et/ou action qui pourrait être exercée à son encontre à la suite de la violation de l’une des obligations. Le <b>MEMBRE</b> indemnisera <b>JEUNOT</b> du préjudice subi et la remboursera de toutes les sommes qu’elle pourrait avoir à supporter de ce fait.</div>

        <div>A défaut, <b>JEUNOT</b> pourra engager la responsabilité du <b>MEMBRE</b> et solliciter toute demande en indemnisation d’un préjudice subi devant toutes juridictions compétentes.</div>

        <div>3.5. Règlement du coût du Service</div>

        <div>Lorsque l’Utilisateur participe à un évènement payant grâce aux Services de la Plateforme, il s’engage à régler la participation indiquée sur l’évènement auprès de <b>JEUNOT</b> ou du partenaire selon les conditions définies dans l’évènement.</div>

        <h2>ARTICLE 4. GARANTIES ET RESPONSABILITE DE <b>JEUNOT</b></h2>

        <div>4.1. Rôle et responsabilité de <b>JEUNOT</b></div>
        <div><b>JEUNOT</b> s’engage à fournir les Services avec diligence, étant précisé que <b>JEUNOT</b> n’est tenue qu’à une obligation de moyens.</div>
        <div>En tout état de cause, la responsabilité de <b>JEUNOT</b> est limitée aux seuls dommages directs avérés que le <b>MEMBRE</b> subit du fait de l’utilisation des Services.</div>

        <div>4.2. La Plateforme est disponible en quelque endroit que ce soit, dès lors que les conditions techniques minimales sont atteintes, et notamment en termes d’accès au réseau de téléphonie mobile, réseau internet et de compatibilité technique du terminal utilisé.</div>
        <div><b>JEUNOT</b> fait ses meilleurs efforts pour s’assurer du bon fonctionnement de la Plateforme et des services y figurant, dans les limites des présentes.</div>
        <div><b>JEUNOT</b>, comme ses partenaires intervenant dans le cadre de la fourniture du Service, peuvent être amenés à interrompre le Service en tout ou partie pour des raisons de maintenance nécessaires au bon fonctionnement du Service.</div>
        <div>Ces interruptions pour maintenance n'ouvriront droit à aucune indemnité et le Service sera accessible dès la fin de l’opération de maintenance. Les opérations de maintenance seront réalisées dans la mesure du possible en dehors des heures ouvrées.</div>

        <div><b>JEUNOT</b> décline toute responsabilité, sans que cette liste ne soit considérée comme limitative :</div>
        <ul>
            <li>En cas d’interruption de la Plateforme pour des opérations de maintenance techniques ou d’actualisation des informations publiées.</li>
            <li>En cas d’impossibilité momentanée d’accès à la Plateforme en raison de problèmes techniques et ce quelles qu’en soient l’origine et la provenance.</li>
            <li>En cas de contamination par d'éventuels virus informatiques circulant sur le réseau.</li>
            <li>Plus généralement, en cas de dommages directs ou indirects causés au MEMBRE, quelle qu’en soit la nature, résultant de l’accès, ou de l’utilisation des Services de la Plateforme</li>
            <li>En cas d’utilisation anormale ou d’une exploitation illicite de la Plateforme par un tiers</li>
            <li>En cas de perte par le <b>MEMBRE</b> de son identifiant et/ou de son mot de passe, en cas d’usurpation de son identité et d’usage de ses données (y compris ses Données personnelles) par un tiers non autorisé et des conséquences qui en découleraient, sous réserve des dispositions législatives et réglementaires impératives</li>
            <li>En cas d’absence de sauvegarde régulière des données, de perte totale ou partielle de toute donnée (que cette action soit accidentelle ou d’origine malveillante), de données corrompues ou dont l’intégrité et la confidentialité n’est plus assurée, etc.</li>
        </ul>

        <h2>ARTICLE 5. PROTECTION DES DONNÉES PERSONNELLES</h2>

        <div>5.1. Traitement des données personnelles du <b>MEMBRE</b></div>
        <div>A l’occasion de l’exécution du Contrat, les données personnelles de l’Utilisateur sont collectées par <b>JEUNOT</b>, en sa qualité de responsable de traitement au sens de la Loi du 6 janvier 1978 modifiée. Ces données sont nécessaires à l’exécution du Contrat.</div>
        <div>5.2. En application de la Réglementation relative à la protection des données personnelles, l’Utilisateur dispose des droits suivants sur ses données :</div>
        <ul>
            <li>Droit d’accès, rectification et d’opposition à ses données</li>
            <li>Droit à l’effacement et à la limitation du traitement de ses données personnelles</li>
            <li>Droit à la portabilité de ses données personnelles.</li>
        </ul>
        <div>L’Utilisateur peut également retirer à tout moment son consentement au traitement de ses données et définir des directives relatives à la conservation, à l'effacement et à la communication de ses données personnelles après son décès. Ces directives peuvent être enregistrées auprès d’un tiers de confiance certifié par la CNIL ou directement auprès de <b>JEUNOT</b> en sa qualité de responsable de traitement.</div>
        <div>Pour exercer ces droits, l’Utilisateur s’adresse à <b>JEUNOT</b> par email à marinebrnn@gmail.com ou par courrier adressé à SAS <b>JEUNOT</b>, 40 rue Turbigo 75003 Paris.</div>
        <div>5.3. Le <b>MEMBRE</b> est invité à consulter et accepter la Politique de confidentialité des données reprenant l’ensemble des informations exigées par la Règlementation applicable à la protection des données        personnelles.</div>

        <h2>ARTICLE 6. CONTENU TIERS – ABSENCE DE GARANTIE</h2>

        <div>6.1. La Plateforme peut intégrer des liens vers d’autres sites web, détenus et/ou gérés par des tiers (les « Sites tiers »), ces liens permettent à l’UTILISATEUR de consulter tout contenu pouvant être utile dans la construction ou le développement de son entreprise.</div>
        <div>JEUNOT peut en outre fournir à l’UTILISATEUR des liens vers des Sites tiers proposant des services utiles à l’UTILISATEUR et ainsi bénéficier de tarifs négociés réservés aux membres de la Plateforme <b>JEUNOT</b>.</div>
        <div>L’UTILISATEUR est libre de profiter de ces services tiers, dont la fourniture relève de la seule responsabilité du prestataire.</div>
        <div>JEUNOT n’entend, en aucun cas, par l’insertion de liens hypertextes renvoyant à des contenus tiers hébergés sur des Sites tiers, approuver ou cautionner lesdits contenus ou encore engager sa responsabilité en cas de contenus insultants, diffamatoires ou encore contraire à l’ordre public et de manière générale à la réglementation en vigueur.</div>
        <div>En cas de questions concernant ces liens ou tout document figurant sur un Site tiers, <b>JEUNOT</b> invite l’UTILISATEUR à contacter l’éditeur du Site tiers concerné.</div>
        <div>6.2. De manière générale, <b>JEUNOT</b> décline toute responsabilité concernant l’exactitude, le contenu, l’exhaustivité, la légalité, la fiabilité, le caractère fonctionnel et adéquat ainsi que la disponibilité des informations ou des documents et tout préjudice direct ou indirect résultant de l’accès ou de l’utilisation de ces contenus disponibles sur la Plateforme).</div>

        <h2>ARTICLE 7. DISPOSITIONS GÉNÉRALES</h2>
        <div>Si une ou plusieurs stipulations des présentes Conditions générales sont tenues pour non valides ou déclarées comme telles en application d'une loi, d'un règlement ou d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et toute leur portée.</div>

        <h2>ARTICLE 8.  PROPRIÉTÉ INTELLECTUELLE</h2>
        <div>La présentation et le contenu de la Plateforme et/ou du Site constituent, ensemble, une œuvre protégée par les lois en vigueur sur la propriété intellectuelle, dont <b>JEUNOT</b> est propriétaire.</div>
        <div>Toute reproduction, intégrale ou partielle du Site est systématiquement soumise à l’autorisation de <b>JEUNOT</b>.</div>
        <ul>
            <li>Droits d’auteur</li>
        </ul>
        <div>Les textes, images, dessins et le lay-out ainsi que la charte graphique de la Plateforme et/ou du Site sont protégés par le droit de la propriété intellectuelle.</div>
        <div>Il est interdit de copier, extraire, diffuser ou modifier le contenu de la Plateforme et/ou du Site. La reproduction de dessins, images, documents sonores, séquences vidéo et textes (liste non exhaustive) nécessite le consentement écrit et préalable de <b>JEUNOT</b>.</div>
        <div>Le défaut d’autorisation est sanctionné par le délit de contrefaçon.</div>
        <ul>
            <li>Marques</li>
        </ul>
        <div>Les marques verbales et/ou semi-figuratives appartenant à <b>JEUNOT</b> et figurant sur la Plateforme et/ou le Site sont des marques déposées et protégées.</div>
        <div>Toute reproduction totale ou partielle des marques appartenant à <b>JEUNOT</b>, sans son autorisation expresse est constitutive de contrefaçon sanctionnée par les articles L.713-2 et suivants du Code de la propriété intellectuelle.</div>

        <h2>ARTICLE 9. DUREE ET RESILIATION DU CONTRAT</h2>
        <div>9.1. Le présent Contrat entre en vigueur à compter de son acceptation par l’Utilisateur et, au plus tard à la date de création de son compte utilisateur sur la Plateforme.</div>
        <div>Le Contrat a une durée indéterminée et reste en vigueur tant que le Service est utilisé par l’Utilisateur.</div>
        <div>9.2. Le présent Contrat peut être résilié à tout moment par <b>JEUNOT</b> en cas de manquement grave imputable à l’Utilisateur, tel que visé au sein de l’article 6. Dans ce cas, <b>JEUNOT</b> peut résilier le présent Contrat, sans préavis ni notification préalable et ce, sans préjudice de tous dommages et intérêts pouvant être sollicités à l’encontre de l’Utilisateur. Le <b>MEMBRE</b> est informé qu’en cas d’impayés du Loyer (sans motif légitime), <b>JEUNOT</b> sera en droit de résilier le Contrat et de l’exclure de la Communauté <b>JEUNOT</b>, après avoir adressé une mise en demeure par lettre recommandée avec accusé de réception restée sans effets pendant plus de quinze jours.</div>
        <div>En cas de résiliation du Contrat, l’Utilisateur ne peut plus accéder aux Services de la Plateforme.</div>

        <h2>ARTICLE 10.  LOI APPLICABLE & LITIGES</h2>

        <div>10.1. Les présentes Conditions générales sont exclusivement soumises à la loi française.</div>
        <div>10.2. <b>JEUNOT</b> s’engage à répondre promptement à tout utilisateur qui aurait porté une réclamation concernant la Plateforme et à faire ses meilleurs efforts pour résoudre amiablement tout différend.</div>
        <div>Néanmoins, dans le cas où <b>JEUNOT</b> n'aurait pas résolu le litige l'opposant au MEMBRE, ce dernier a la possibilité de faire appel aux instances suivantes :</div>
        <ul>
            <li>L’Utilisateur est informé de la possibilité de saisir la plateforme européenne de règlement en ligne des litiges (RLL) : https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=FR.</li>
            <li>Médiation : Conformément aux dispositions de l’article L.612-1 du Code de la consommation, <b>JEUNOT</b> garantit au consommateur le recours effectif à un dispositif de médiation de la consommation. Tout consommateur a le droit de recourir gratuitement à un médiateur de la consommation en vue de la résolution amiable du litige qui l'oppose à un professionnel. A cet effet, le professionnel garantit au consommateur le recours effectif à un dispositif de médiation de la consommation. Le professionnel peut mettre en place son propre dispositif de médiation de la consommation ou proposer au consommateur le recours à tout autre médiateur de la consommation répondant aux exigences du présent titre. Lorsqu'il existe un médiateur de la consommation dont la compétence s'étend à l'ensemble des entreprises d'un domaine d'activité économique dont il relève, le professionnel permet toujours au consommateur d'y recourir. Les modalités selon lesquelles le processus de médiation est mis en œuvre sont précisées par les articles R 612-1 et suivants du Code de la consommation.</li>
        </ul>
        <div>10.3. A défaut de résolution amiable, tous les litiges auxquels les présentes conditions générales pourraient donner lieu, concernant tant sa validité, son interprétation, son exécution, sa résiliation, leurs conséquences et leurs suites seront soumis aux tribunaux compétents dans les conditions de droit commun.</div>
    </div>
{% endblock %}
