{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'legals.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <div class="j-box j-background-flat-yellow" style="--box-padding: min(calc(6 * var(--w)), calc(2 * var(--w) + 3vw)) ">
        <div class="j-container">
            <div class="j-stack" style="--stack-gap: calc(3 * var(--w))">
                <h1 class="j-max-w" style="--max-w: 25ch">
                    {{ 'legals.title'|trans }}
                </h1>
            </div>
        </div>
    </div>
    <div class="j-container j-box j-stack" style="--stack-gap: calc(4 * var(--w))">
        <h2>IDENTITE</h2>
        La plateforme <a href="https://www.jeunot.club">https://www.jeunot.club</a> est éditée par la <b>SAS Jeunot</b> dont le siège social se trouve au 40 rue Turbigo 75003 Paris (France) immatriculée au RCS de Paris sous le numéro B 912 505 682.<br/>
        N° de TVA intracommunautaire : FR33912505682

        <h2>HEBERGEUR</h2>
        Scalingo SAS<br/>
        15 avenue du Rhin<br/>
        F-67100 Strasbourg<br/>
        Email : hello@scalingo.com

        <h2>DIRECTEUR DE LA PUBLICATION</h2>
        Le directeur de la publication du site <b>Jeunot</b> est Madame Bironneau Marine, en sa qualité de Présidente de la SAS JEUNOT.

        <h2>PROPRIETE INTELLECTUELLE</h2>
        Les contenus présents sur le site <b>JEUNOT</b> sont protégés au titre du droit de la propriété intellectuelle, notamment droit d’auteur, dessins et modèles, marques, noms de domaine, savoir-faire, logiciels ou bases de données. Sur ces contenus, la société JEUNOT vous concède un droit d’utilisation et de représentation sur votre terminal, sans toutefois vous transférer la propriété de ces contenus et droits associés.
        Toute reproduction, intégrale ou partielle, est interdite et systématiquement soumise à l’autorisation de <b>JEUNOT</b>.

        <div>
            <b>Droits d’auteur</b><br/>
            Les textes, images, dessins et le lay-out ainsi que la charte graphique du site sont protégés par le droit de la propriété intellectuelle.
            Il est interdit de copier, extraire, diffuser ou modifier le contenu du site. La reproduction de dessins, images, documents sonores, séquences vidéo et textes (liste non exhaustive) dans d’autres publications électroniques ou imprimées nécessite le consentement écrit préalable de JEUNOT.
            Toute reproduction, représentation, adaptation, modification partielle ou intégrale ainsi que toute extraction substantielle qualitative ou quantitative des contenus du site internet sans autorisation expresse et préalable de JEUNOT sera sanctionnée par les dispositions du Code de la propriété intellectuelle.
            Le défaut d’autorisation est sanctionné par le délit de contrefaçon.
        </div>
        <div>
            <b>Marques</b><br/>
            Les marques et logos appartenant à <b>JEUNOT</b> sont des marques déposées et protégées.
            Toute reproduction totale ou partielle des marques et/ou logos présents sur le site, effectuée sans l’autorisation expresse de JEUNOT est constitutive de contrefaçon sanctionnée par les articles L.713-2 et suivants du Code de la propriété intellectuelle.
        </div>
        <div>
            <b>Base de données</b><br/>
            Toute base de données est la propriété de <b>JEUNOT</b>, qui en est le producteur. Toute reproduction, représentation, adaptation, modification partielle ou intégrale ainsi que toute extraction substantielle qualitative ou quantitative sera également sanctionnée par les dispositions du Code de la propriété intellectuelle.
        </div>
        <h2>PROTECTION DES DONNEES PERSONNELLES</h2>
        <div>
            <b>Finalité du traitement</b><br/>
            Les données personnelles que nous collectons ont pour finalité :
            <ul>
                <li>la gestion de votre compte client JEUNOT</li>
            </ul>
        </div>
        <div>
            <b>Durée de conservation</b><br/>
            Les données que nous collectons sont conservées pendant une durée maximum de 3 ans suivant la fin de la relation contractuelle, hors obligation légale d’archivage.
            Identité du Responsable de traitement et autres destinataires
            Le responsable du traitement de vos données personnelles est la SAS JEUNOT qui exploite le site internet JEUNOT.
        </div>
        <div>
            <b>Base légale du traitement</b><br/>
            Vos données personnelles sont collectées par la SAS JEUNOT compte tenu de votre consentement quant au traitement de vos données.
        </div>
        <div>
            <b>Les droits dont vous disposez sur vos données personnelles</b><br/>
            Conformément aux dispositions de la Loi informatique et libertés du 6 janvier 1978 modifiée, vous disposez des droits suivants sur vos données :
            -	Droit d’accès, rectification et d’opposition à vos données
            -	Droit à l’effacement et à la limitation du traitement de vos données personnelles
            -	Droit à la portabilité de vos données personnelles.
        </div>
        <div>
            Vous pouvez également retirer à tout moment votre consentement au traitement de vos données et définir des directives relatives à la conservation, à l'effacement et à la communication de vos données personnelles après votre décès. Ces directives peuvent être enregistrées auprès d’un tiers de confiance certifié par la CNIL ou directement auprès de la SAS JEUNOT en sa qualité de responsable de traitement.
        </div>
        <div>
            Pour exercer vos droits ou pour poser toute question sur le traitement de vos données personnelles, vous pouvez vous adresser à la SAS JEUNOT, en sa qualité de responsable de traitement.
        </div>
        <div>
            Vous pouvez nous contacter par email à marinebrnn@gmail.com ou par courrier adressé à SAS JEUNOT 40 rue Turbigo 75003 Paris.
        </div>
    </div>
{% endblock %}
