<div class="j-cluster" style="--cluster-gap: calc(3 * var(--v))">
  {% include 'common/icons/pin.svg.twig' with { attr: { class: 'j-icon' } } only %}
  <p class="j-text-bold">
    {{ location }}
  </p>
</div>
