<form method="post" action="{{ path('app_events_unregister', { uuid: event.uuid }) }}">
    <button class="j-btn j-btn--mulberry">{{ 'events.cancel_registration'|trans }}</button>
    <input type="hidden" name="token" value="{{ csrf_token('unregister-user-for-an-event') }}"/>
</form>
