{% extends 'layouts/default.html.twig' %}

{% block title %}
    {{ 'events.register.succeded.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <div class="j-container">
        <h1>{{ 'events.register.succeded.title'|trans }} !</h1>
        <p>{{ 'events.register.succeded.detail'|trans({ '%title%': event.title }) }}</p>
    </div>
{% endblock main %}
